/*ion-content {
    --background: linear-gradient(197deg, rgb(200, 238, 188) 0%, rgb(174, 236, 155)  13.5%, 
    rgb(147, 236, 120) 33.33%, rgb(125, 197, 103) 100%) !important;
}*/

.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(147, 236, 120));
    border-radius: 10px;

    &.top {
        top: 25%;
        width: 65%;
        height: 50%;
    }

    &.bottom {
        bottom: 15%;
        width: 65%;
        background-color:  rgb(208, 247, 196);  
        span {
            color: #fff;
        }
    }
}

.img {
    position: absolute;
    left: 35px;
    top: 2%;
}

ion-slides {
    height: 100%;

    .slide-inner {

        width: 75%;
        color: black;
        //background-color: rgb(125, 197, 103);
        border-radius: 10px;

        ion-item {
            --background: rgba(255, 255, 255, 0.2);
            --border-radius: 10px;

            ion-input {
                --color: grey;
            }
        }

        ion-button {
            --background-color:  rgb(238, 248, 143) ;
        }
    }
}


